.smallName{
    font-size: 1rem;
}
.react-datepicker-wrapper{
    width: 100%;
}
.react-datepicker__input-container{
    /*margin:6px;*/
    /*border: 1px solid navajowhite;*/
    /*height: 38px;*/
}

.DayPickerInput{
    width: 100%;
}

.DayPickerInput input{
    padding: 5px 0 4px 10px;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    color: #495057;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-weight: 400;
    background-clip: padding-box;
    transition: border-color 0.15s;

}

.react-datepicker__input-container input[type=text], .DayPickerInput input[type=text]{
    margin:6px;
    border: 1px solid #ced4da !important;
    padding: 6px;
    border-radius: 4px !important;
    position: relative;
    top: -6px;
    left: -7px;
    height: 38px;
}
.DayPickerInput input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

menu-link-bg{
    background-color: #15acfc;
    font-weight: bold;
}

.bg-success{
    color: white;
    padding-left: 1rem;
    background-color: #28a745d6;
    border: 2px solid #6c757d !important;
}

.bg-success .btn-info{
    color: #fff;
    /* background-color: transparent;
    border-color: transparent; */
}
.bg-success .btn-info:hover{
    color: #fff;
    background-color: transparent;
    border-color: black;
}

.menublock{
    margin: 0;
    margin-right: 10px !important;
}

.rowblock{
    /*margin-top: 10px;*/
    margin-right: -10px !important;
    margin-left: -10px !important;
    border-top: 1px solid #329f4b;
    padding: 0.5rem;
}
.rowblock a, .rowblock a:hover, .rowblock a:active{
    color: #329f4b;
}
.rowblock .padding{
    padding: 0.6rem;
}
.navmr{
    margin: 0 1rem 0 0;
}

.callButtonColor{
    color : navajowhite;
}

.olistTable {
    font-size: smaller;
}

.olistTable th, .olistTable td {
    border-top: 1px solid #329f4b !important;
}

.olistTable button.btn {
    padding: 0 0.75rem !important;
}
.modal-dialog{
    max-width: 100% !important;
    margin: 1rem !important;
}

.searchContainer{
    max-width: 1024px;
    padding: 10px;
    margin: 25px auto;
}
.searchContainer ul{
    display:inline-flex;
    margin: 10px;
    padding: 10px;
    list-style-type:none;

}
.searchContainer ul li{
    padding: 10px;
}

.btn-sml {
    height: 1.8rem !important;
}
.btn-call{
    height: 1.8rem !important;
    padding-top: 0.1rem !important;
    display: inline-block;
    border: 1px solid #329f4b;
    padding: 1rem;
    background-color: #329f4b;
    color: white;
    border-radius: 5px;
}
.fa-paperclip{
    margin-right: 0.25rem;
}
p.card-text{
    font-size:1.25rem;
}

.d-inline-flex{
    width: 21rem;
}
.card{
    border-width: 1px 1px 1px 1px !important;
}
.card-deck{
    max-width: 21rem;
}
@media only screen and (min-width: 1024px) {
    .olistTable {
        font-size: 1rem;
    }
}